{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="js/vue.min.js"></script>
{% endblock %}

{% block wrapper %}

<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="sdi.html">
      <i class="fas fa-fw fa-exchange-alt"></i>
      <span>SDI</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="td0000001.html">
      <i class="fas fa-fw fa-building"></i>
      <span>TD0000001</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="td0000002.html">
      <i class="fas fa-fw fa-building"></i>
      <span>TD0000002</span>
    </a>
  </li>
</ul>

<div id="content-wrapper">
  <div class="container-fluid">
    <div class="card col-md-6">
      <div class="card-body">
        <h5 class="card-title border-bottom border-italia">Dashboard</h5>
        <div class="form-group">
          <p>Do you want to clear (reset) the state?</p>
          <button type="button" onclick="post('/sdi/rpc/clear');" class="btn mb-1 btn-primary">Reset</button>
        </div>
        <div class="form-group">
          <p>Set the simulated date and time</p>
          <div>
            <input id="date" type="date" class="form-control" aria-label="date">
            <input id="time" type="time" class="form-control" aria-label="time">
            <input id="dt" type="datetime-local" hidden>
            <button type="button" class="btn mb-1 btn-primary" id="saveDatetime">Save</button>
            <!-- <button type="button" onclick="post('/sdi/rpc/timestamp', 'timestamp', 'dt');" class="btn mb-1 btn-primary">Save</button> -->
          </div>
        </div>  
        <div class="form-group">
          <p>Set factor for simulated time to wallclock time</p>
          <div class="input-group">
            <input id="speed" type="number" min="1" max="1000000000" class="form-control" aria-label="speed">
            <button type="button" onclick="post('/sdi/rpc/speed', 'speed', 'speed');" class="btn mb-1 btn-primary">Save</button>
          </div>
        </div>
        <div class="form-group">
          <p>Current simulation time </p>
          <p><span id="simtime"></span></p>
          <button type="button" onclick="get('/sdi/rpc/datetime', 'simtime');" class="btn mb-1 btn-primary">Show</button>
        </div>
      </div>  <!-- /.card-body -->
    </div>  <!-- /.card mb-3 -->    
  </div>  <!-- /.container-fluid -->
</div> <!-- /.content-wrapper -->

{% endblock %}
{% block footer %}
{{ parent() }}
<script type="text/javascript">
// prefill date time speed form
$(document).ready(function(){
    var url = window.location.protocol + "//" + window.location.host + "/";
    url = url + "sdi/rpc/datetime";
    $.ajax({
    url: url,
    dataType: 'json',
    success: function( data ) {
        var dateTime = data.datetime;
        var date = dateTime.substr(0, 10); //yyyy-mm-dd        
        var time = dateTime.substr(11, 5); //00:00
        // var dt = date+"T"+time; //yyyy-mm-ddT00:00
        $('#date').val(date);
        $('#time').val(time);

        var speed = data.speed;
        $('#speed').val(speed);
    },
    error: function( data ) {
            Toastify({
              text: "Errore nel prefill form (" + url + "), riprova.",
              duration: 5000,
              close: true,
              gravity: "top",
              backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc371)",                  
            }).showToast(); 
    }
  });
});
//compose and post datetime
$(document).ready(function(){
  $("#saveDatetime").click(function() {
    var date = $("#date").val();
    var time = $("#time").val();
    var dt = date+"T"+time;
    $("#dt").val(dt);
    post('/sdi/rpc/timestamp', 'timestamp', 'dt');
  });
});
</script>
{% endblock %}

