{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="js/vue.min.js"></script>
{% endblock %}

{% block wrapper %}

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sdi.html">
          <i class="fas fa-fw fa-exchange-alt"></i>
          <span>SDI</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="td0000001.html">
          <i class="fas fa-fw fa-building"></i>
          <span>TD0000001</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="td0000002.html">
          <i class="fas fa-fw fa-building"></i>
          <span>TD0000002</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title border-bottom border-italia">Actions...</h5>
                <div class="card-text">
                  <div class="col-sm-6 input-group pb-3">
                    <div class="input-group-prepend">
                      <button type="button" onclick="post('/sdi/rpc/clear');" class="btn mb-1 btn-primary">Clear (resets the state)</button>
                    </div>
                  </div>
                  <div class="col-sm-6 input-group pb-3">                  
                      <input id="dt" type="datetime-local" class="form-control" aria-label="date">
                      <button type="button" onclick="post('/sdi/rpc/timestamp', 'timestamp', 'dt');" class="btn mb-1 btn-primary">Set the simulated date & time</button>
                  </div>
                  <div class="col-sm-6 input-group pb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Speed</span>
                    </div>
                    <input id="speed" type="number" min="1" max="1000000000" class="form-control" placeholder="10" aria-label="speed">
                  </div>
                  <div class="col-sm-6 input-group pb-3">
                   <div class="input-group-prepend">  
                      <button type="button" onclick="post('/sdi/rpc/speed', 'speed', 'speed');" class="btn mb-1 btn-primary">Set factor for simulated time to wallclock time</button>
                    </div>
                  </div>
                  <div class="col-sm-6 input-group pb-3">
                    <div class="input-group-prepend">
                      <button type="button" onclick="get('/sdi/rpc/datetime', 'simtime');" class="btn mb-1 btn-primary">Show current simulation time</button>
                      <span id="simtime"></span>
                    </div>
                  </div>
                </div>  <!-- /.card-text -->
              </div>  <!-- /.card-body -->
        </div>  <!-- /.card mb-3 -->
      </div>  <!-- /.container-fluid -->
    </div> <!-- /.content-wrapper -->

{% endblock %}

{% block footer %}{% endblock %}
