<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- Custom styles for this template-->
    {% block head %}
     <link href="css/sb-admin.css" rel="stylesheet">    
     <link rel="stylesheet" href="css/bootstrap-italia.min.css" />
     <link rel="stylesheet" href="css/italia-icon-font.css" /> 
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">    
    {% endblock %}
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mb-0 h5" href="#">fatturapa-testui</a>
    </nav>
    <div id="wrapper">
    {% block wrapper %}
    {% endblock %}
    </div> <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <span>^</span>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    {% block footer %}
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/InvoiceTable.js"></script>
    <script type="text/javascript" src="js/InvoiceTable2.js"></script>
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto">
              <span class="copyright">
                &copy; Copyright 2018 by <a target="_blank" href="https://simevo.com/">simevo.com</a>
              </span>
              <span> - <a target="_blank" href="https://github.com/simevo/fatturapa-testui">source code available here</a></span>
            </div>
        </div>
    </footer>
    {% endblock %}

  {% block javascripts %}
    <script src="js/bootstrap-italia.bundle.min.js"></script>
    <script src="js/bootstrap-italia.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>    
  {% endblock %}    
  </body>
</html>
