{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="js/vue.min.js"></script>
{% endblock %}

{% block wrapper %}

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="sdi.html">
          <i class="fas fa-fw fa-exchange-alt"></i>
          <span>SDI</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="td0000001.html">
          <i class="fas fa-fw fa-building"></i>
          <span>TD0000001</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">
      <div class="container-fluid">
        <div id="tables">
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_RECEIVED" title="Ricevute"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_VALID" title="Valide"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_FAILED_DELIVERY" title="Mancata consegna"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_DELIVERED" title="Consegnate"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_INVALID" title="Invalide"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_IMPOSSIBLE_DELIVERY" title="Consegna impossibile"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_ACCEPTED" title="Accettate"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_REFUSED" title="Rifiutate"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_EXPIRED" title="Termini scaduti"></invoice-table>
        </div>
      </div>  <!-- /.container-fluid -->
    </div> <!-- /.content-wrapper -->

{% endblock %}
{% block footer %}
    {{ parent() }}
    <script type="text/javascript">
      var app = new Vue({
        el: '#tables'
      });
      document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM fully loaded and parsed");
      });
    </script>
{% endblock %}
