{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="js/vue.min.js"></script>
{% endblock %}

{% block wrapper %}

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="sdi.html">
          <i class="fas fa-fw fa-exchange-alt"></i>
          <span>SDI</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="td0000001.html">
          <i class="fas fa-fw fa-building"></i>
          <span>TD0000001</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="td0000002.html">
          <i class="fas fa-fw fa-building"></i>
          <span>TD0000002</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">
      <div class="container-fluid" id="tables">
        <div class="actions row">
          <div class="col-sm">
            <button type="button" v-on:click="dispatch();" class="btn btn-primary">Invia notifiche</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <invoice-table
              endpoint="/rpc/invoices/?status=E_RECEIVED"
              description="E_RECEIVED: received from transmitter"
              button="Valida"
              action="/rpc/checkValidity"
              :home=home
              title="Ricevute"></invoice-table>
            <invoice-table
              endpoint="/rpc/invoices/?status=E_INVALID"
              description="E_INVALID: did not pass test"
              :home=home
              title="Invalide"></invoice-table>
          </div>
          <div class="col-sm">
            <invoice-table
              endpoint="/rpc/invoices/?status=E_VALID"
              description="E_VALID: passed checks"
              button="Consegna"
              action="/rpc/deliver"
              :home=home
              title="Valide"></invoice-table>
            <invoice-table
              endpoint="/rpc/invoices/?status=E_FAILED_DELIVERY"
              description="E_FAILED_DELIVERY: failed delivery within 48 hours"
              :home=home
              title="Mancata consegna"></invoice-table>
            <invoice-table 
              endpoint="/rpc/invoices/?status=E_IMPOSSIBLE_DELIVERY"
              description="E_IMPOSSIBLE_DELIVERY: failed delivery within 48 hours + 10 days"
              :home=home
              title="Consegna impossibile"></invoice-table>
          </div>
          <div class="col-sm">
            <invoice-table
              endpoint="/rpc/invoices/?status=E_DELIVERED"
              description="E_DELIVERED: delivered to recipient"
              button="Verifica termini"
              action="/rpc/checkExpiration"
              :home=home
              title="Consegnate"></invoice-table>
            <invoice-table
              endpoint="/rpc/invoices/?status=E_ACCEPTED"
              description="E_ACCEPTED: Recipient notified that it accepted the invoice"
              :home=home
              title="Accettate"></invoice-table>
            <invoice-table
              endpoint="/rpc/invoices/?status=E_REFUSED"
              description="E_REFUSED: Recipient notified that it refused the invoice"
              :home=home
              title="Rifiutate"></invoice-table>
            <invoice-table
              endpoint="/rpc/invoices/?status=E_EXPIRED"
              description="E_EXPIRED: not accepted / refused by the recipient for more than 15 days"
              :home=home
              title="Termini scaduti"></invoice-table>
          </div>
        </div>  <!-- /.row -->
      </div>  <!-- /.container-fluid -->
    </div> <!-- /.content-wrapper -->

{% endblock %}
{% block footer %}
    {{ parent() }}
    <script type="text/javascript">
      var app = new Vue({
        el: '#tables',
        data: {
          home: '/sdi'
        },
        methods: {
          dispatch: function() {
            post(this.home + '/rpc/dispatch');
          }
        }
      });
      document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM fully loaded and parsed");
      });
    </script>
{% endblock %}
