{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="js/vue.min.js"></script>
{% endblock %}
{% block content %}
    <h2>Simevo</h2>
    <hr/>
    <!-- tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 20px;">
      <li class="nav-item">
        <a class="nav-link active" id="emissione-tab" data-toggle="tab" href="#emissione" role="tab" aria-controls="emissione" aria-selected="true">emissione</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="ricezione-tab" data-toggle="tab" href="#ricezione" role="tab" aria-controls="ricezione" aria-selected="false">Ricezione</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="emissione" role="tabpanel" aria-labelledby="emissione-tab">
        <!-- tab content emissione -->
        <div class="container-fluid">
          <div class="col-sm-6 offset-sm-3">
            <button type="button" class="btn btn-info btn-block" onclick="document.getElementById('inputFile').click()">Carica fattura</button>
            <div class="form-group inputDnD">
              <label class="sr-only" for="inputFile">File Upload</label>
              <input type="file" class="form-control-file text-info font-weight-bold" id="inputFile" accept="text/xml" onchange="readUrl(this)" data-title="oppure trascina qui la fattura in formato XML">
            </div>
          </div>
        <div id="tables">     
                    <invoice-table endpoint="/sdi/rpc/invoices/?status=E_RECEIVED" title="Ricevute"></invoice-table>
                    <div class="actions"><button type="button" class="btn btn-info">Validazione</button></div>

                    <invoice-table endpoint="/sdi/rpc/invoices/?status=E_VALID" title="Valide"></invoice-table>
                    <div class="actions"><button type="button" class="btn btn-info">Trasmetti</button></div>
      

                    <invoice-table endpoint="/sdi/rpc/invoices/?status=E_FAILED_DELIVERY" title="Mancata consegna"></invoice-table>

                    <invoice-table endpoint="/sdi/rpc/invoices/?status=E_DELIVERED" title="Consegnate"></invoice-table>
                    <div class="actions"><button type="button" class="btn btn-info">Verifica Termini</button></div>

                    <invoice-table endpoint="/sdi/rpc/invoices/?status=E_INVALID" title="Invalide"></invoice-table>
                    <invoice-table endpoint="/sdi/rpc/invoices/?status=E_IMPOSSIBLE_DELIVERY" title="Consegna impossibile"></invoice-table>
                    <invoice-table endpoint="/sdi/rpc/invoices/?status=E_ACCEPTED" title="Accettate"></invoice-table>
                    <invoice-table endpoint="/sdi/rpc/invoices/?status=E_REFUSED" title="Rifiutate"></invoice-table>
                    <invoice-table endpoint="/sdi/rpc/invoices/?status=E_EXPIRED" title="Termini scaduti"></invoice-table>
        </div> <!-- end tables -->

        </div> <!-- end container-fluid -->
        
      </div> <!-- end content tab emissione -->
    </div> <!-- end content tab content -->
      <div class="tab-pane fade" id="ricezione" role="tabpanel" aria-labelledby="ricezione-tab">
        <!-- start content tab ricezione -->
        <div class="container-fluid">

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Data Table Example</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Trasmittente</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Trasmittente</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>12</td>
                      <td>2</td>
                      <td><button type="button" class="btn btn-info">Accetta</button> <button type="button" class="btn btn-info">Rifiuta</button></td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>2</td>
                      <td><button type="button" class="btn btn-info">Accetta</button> <button type="button" class="btn btn-info">Rifiuta</button></td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>2</td>
                      <td><button type="button" class="btn btn-info">Accetta</button> <button type="button" class="btn btn-info">Rifiuta</button></td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>2</td>
                      <td><button type="button" class="btn btn-info">Accetta</button> <button type="button" class="btn btn-info">Rifiuta</button></td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>2</td>
                      <td><button type="button" class="btn btn-info">Accetta</button> <button type="button" class="btn btn-info">Rifiuta</button></td>
                    </tr>                                                                                
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

        <div id="tables-ricezione"> 
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_ACCEPTED" title="Accettate"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_REFUSED" title="Rifiutate"></invoice-table>
          <invoice-table endpoint="/sdi/rpc/invoices/?status=E_EXPIRED" title="Termini scaduti"></invoice-table>
        </div> 
        <!-- end content tab ricezione -->
      </div>
    </div><!-- end tabs -->
    <div class="actions"><button type="button" class="btn btn-info">Invia notifiche</button></div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="js/simevo.js"></script>
    <hr/>
    {{ parent() }}
{% endblock %}
