{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="js/vue.min.js"></script>
{% endblock %}
<<<<<<< HEAD
{% block header %}

{% endblock %}
{% block content %}
    <h2>FatturaPA testUI</h2>
    <a href="https://github.com/simevo/fatturapa-testui">https://github.com/simevo/fatturapa-testui</a>
    <hr/>
=======
{% block content %}
>>>>>>> fde5300e9af5e1e2dbbc038ab02e226f75720d8b
    <div id="tables">
      <invoice-table endpoint="/sdi/rpc/invoices/?status=E_RECEIVED" title="Ricevute"></invoice-table>
      <invoice-table endpoint="/sdi/rpc/invoices/?status=E_VALID" title="Valide"></invoice-table>
      <invoice-table endpoint="/sdi/rpc/invoices/?status=E_FAILED_DELIVERY" title="Mancata consegna"></invoice-table>
      <invoice-table endpoint="/sdi/rpc/invoices/?status=E_DELIVERED" title="Consegnate"></invoice-table>
      <invoice-table endpoint="/sdi/rpc/invoices/?status=E_INVALID" title="Invalide"></invoice-table>
      <invoice-table endpoint="/sdi/rpc/invoices/?status=E_IMPOSSIBLE_DELIVERY" title="Consegna impossibile"></invoice-table>
      <invoice-table endpoint="/sdi/rpc/invoices/?status=E_ACCEPTED" title="Accettate"></invoice-table>
      <invoice-table endpoint="/sdi/rpc/invoices/?status=E_REFUSED" title="Rifiutate"></invoice-table>
      <invoice-table endpoint="/sdi/rpc/invoices/?status=E_EXPIRED" title="Termini scaduti"></invoice-table>
    </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="js/simevo.js"></script>
    <hr/>
    {{ parent() }}
{% endblock %}
